@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

.custom-tab-view li {
    margin: 1px auto;
    width: 100%;
}
.custom-tab-view span {
    margin: auto;
}
